# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sdf
*.filters
Release_v1.0/Visual Micro/.Release_v1.0.vsarduino.h
*.xml
Release_v1.0/Release_v1.0.vcxproj
